@mixin bradius($rad){
    -webkit-border-radius: $rad;
    border-radius: $rad;
}

$col: lightgrey;
$w: 300px;

.two{
    color: $col;
    width: 200px + $w;
}


.one{
    @extend .two; // расширяем класс
    @include bradius(6px);
    width: $w/3;
}

.three{
    color: $col + #222;
    width: $w * 3;
}